<ul class="nav nav-tabs" id="{{name}}-tabs">
    <li class="active"><a href="#{{name}}-options" data-toggle="tab">Options</a></li>
    <li><a href="#{{name}}-methods" data-toggle="tab">Methods</a></li>
    <li><a href="#{{name}}-events" data-toggle="tab">Events</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="{{name}}-options">
        {{>options}}
    </div>
    <div class="tab-pane" id="{{name}}-methods">
        {{>methods}}
    </div>
    <div class="tab-pane" id="{{name}}-events">
        {{>events}}
    </div>
</div>