
{{>subnavbar}}

<div class="row">
    <div class="span12">
        <section id="gettingstarted">
            <h1>Getting started</h1> 
            {{>getstarted}}
        </section>
        <hr>
        <section id="editable">
            <h1>$().editable(options)</h1>
            <p>{{{classes.editable.description}}}</p>
            {{#with myClasses.editable}}
            {{include "classtabs" project=../project}}
            {{/with}}

            <div class="alert alert-success">
                <strong>Note:</strong> you can modify <code>$.fn.editable.defaults</code> to set default options for all editable elements on the page.<br>
                For example, to force all elements submit via <strong>PUT</strong> method: <code>$.fn.editable.defaults.ajaxOptions = {type: "put"}</code>
            </div>
        </section>
        <hr>
        <section id="inputs">
            <h1>Inputs</h1>
            <p>There are several <i>input types</i> supported by library. Each type may have additional configuration options.<br>
            Input options are defined as well as other parameters of <code>$().editable()</code> method.<br>
            Currently supported:
            </p> 
            <ul>
            {{#each inputs}}
            <li>{{name}}{{new ../project.version}}</li>
            {{/each}}       
            </ul>
        </section> 
                   
        {{#each inputs}}
         <section id="{{name}}">
            <h2>{{name}}{{new ../project.version}}</h2>
            <p>{{md description}}
               {{since}}
            </p>
            {{include "inputtabs" project=../project}}
            </section>
        {{/each}}            

        <hr>
        <section id="global">
            <h1>Global templates</h1>
            {{>global}}
        </section>         
        
        <hr>
        <section id="newrecord">
            <h1>Creating new record</h1>
            {{>newrecord}}
        </section>
       
        <hr>
        <section id="diagram">
            <h1>Class diagram</h1>    
            {{>diagram}}
        </section>
        <br>        
        <p>If you have questions, ideas or find a bug - please feel free to open issue on <a href="{{project.homepage}}/issues" target="_blank">X-editable github page</a>.</p>
    </div>
</div>