<!-- header -->
{{#with project}}
<div class="hero-unit">
    <h1>{{name}}</h1>
    <p class="muted" style="font-size: 1.1em">In-place editing with <a href="http://twitter.github.com/bootstrap" target="_blank">Twitter Bootstrap</a>, <a href="http://jqueryui.com" target="_blank">jQuery UI</a> or pure <a href="http://jquery.com" target="_blank">jQuery</a></p>
    <p>This library allows you to create editable elements on your page. 
        It can be used with any engine (bootstrap, jquery-ui, jquery only) and includes both <i>popup</i> and <i>inline</i> modes.
        It's new life of <a href="http://vitalets.github.com/bootstrap-editable" target="_blank">bootstrap-editable plugin</a> that was strongly refactored and improved.<br>
        Please try out demo to see how it works. 
    </p>
    <div style="text-align: center">
        <p>
        <a class="btn btn-success btn-large" style="width: 150px" href="demo.html" target="_blank">Demo <span style="font-size: 0.8em">(new window)</span></a>
        <a class="btn btn-primary btn-large" style="width: 150px" href="docs.html">Documentation</a>
        </p>                    
        <small class="muted">Current version {{version}} <a href="assets/x-editable/CHANGELOG.txt">changelog</a></small>
    </div>
</div>    

<div class="row">
    <div class="span4">
        <h2>Bootstrap</h2>
        <p>Twitter Bootstrap has awesome <a href="http://twitter.github.com/bootstrap/base-css.html#forms" target="_blank">Form markup</a> and <a href="http://twitter.github.com/bootstrap/javascript.html#popovers" target="_blank">Popover plugin</a> allowing pretty in-place editing.
        For <i>date</i> input it uses <a target="_blank" href="http://vitalets.github.com/bootstrap-datepicker/">bootstrap-datepicker</a>.
        </p>
    </div>
    <div class="span4">
        <h2>jQuery UI <small>(1.9+)</small></h2>
        <p>Starting from jQuery UI 1.9 it has <a href="http://jqueryui.com/tooltip" target="_blank">Tooltip plugin</a>. 
        In combination with <a href="http://jqueryui.com/button" target="_blank">Button widget</a> it is very suitable for editable form and popup.
        You can apply any theme of jQuery UI <a href="http://jqueryui.com/themeroller" target="_blank">Themeroller</a>.</p>
    </div>
    <div class="span4">
        <h2>jQuery <small>(+ poshytip plugin)</small></h2>
        <p>The simplest build of X-editable. For <i>inline mode</i> you need only jquery. For <i>popup mode</i> it uses <a href="http://vadikom.com/demos/poshytip" target="_blank">Poshytip plugin</a>.
        To show <i>datepicker</i> you should include jQuery UI datepicker. Or surely you can write your own inputs.
        </p>
    </div>
</div>

<div class="row">
    <div class="span4">
        <p class="centered"><img src="assets/img/bootstrap.png"></p>
        <p class="centered"><a class="btn btn-primary" href="assets/zip/bootstrap-editable-{{version}}.zip"><strong>Download</strong> (bootstrap build)</a></p>
    </div>
    <div class="span4">
        <p class="centered"><img src="assets/img/jqueryui.png"></p>
        <p class="centered"><a class="btn btn-primary" href="assets/zip/jqueryui-editable-{{version}}.zip"><strong>Download</strong> (jquery-ui build)</a></p>
    </div>
    <div class="span4">
        <p class="centered"><img src="assets/img/jquery.png"></p>
        <p class="centered"><a class="btn btn-primary" href="assets/zip/jquery-editable-{{version}}.zip"><strong>Download</strong> (jquery build)</a></p>
    </div>
</div>
{{/with}}

<hr>

<div class="row">
    <div class="span4">
        <h2 class="muted">News</h2>
        {{> news lastNews}}
        
        {{#if news}}
        <div style="text-align: right"><a onclick="$('#news').toggle(); return false;" href="#">↓ Show all news</a></div>
        <div style="display: none" id="news"> 
          {{#each news}}   
          {{> news this}}             
          {{/each}}
        </div>        
        {{/if}}      
    </div>
    <div class="span4">
        <h2 class="muted">Why editable?</h2>
        <ul>
            <li>fast development, no special FORM markup</li>
            <li>less number of screens in your application</li>                            
            <li>easy adding / removing fields</li>
            <li>simple backend script for data update</li>
            <li>more convenient for users</li>                            
        </ul>        
    </div>
    <div class="span4">
        <h2 class="muted">Features</h2>
        <ul>
            <li>popup and inline modes</li>
            <li>supported inputs: <code>text</code>, <code>textarea</code>, <code>select</code>, <code>date</code></li>
            <li>client-side and server-side validation</li>
            <li>customizible container placement</li>
            <li>toggle by click or manually</li>
            <li>keyboard support (escape/enter)</li>                            
            <li>unit tested</li>                            
        </ul>        
        <!--       
        <h2 class="muted">Plugins</h2>
        <ul>
            <li><a target="_blank" href="http://ybe.demopage.ru">Yii-bootstrap-editable extension</a></li>
        </ul>
        <p>If you've created X-editable based plugin please feel free to contact me and share it with community.</p>  
        -->
    </div>
</div>

